*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.box{
    width: 1440px;
    height: 80px;
    background-color: #232536;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.finsweet{
    width: 305px;
height: 29px;
    display: flex;
    gap: 10px;
}
li{
   list-style: none;
   color: white;
}
button{
    width: 180px;
    height: 55px;
    font-size: 18px;
}
.box1{
    display: flex;
    align-items: center;
}
.foto{
    width: 1440px;
    height: 1000px;
}
.foto1{
    width: 1133px;
    height: 356px;
    border: 1px solid;
    position: absolute;
top: 160px;
left: 300px;
}
.us1{
    width: 624px;
height: 356px;
border: 1px solid;
text-align: center;
}