*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
 
}
.box{
    width: 1440px;
    height: 80px;
    background-color: #232536;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.finsweet{
    width: 305px;
height: 29px;
    display: flex;
    gap: 10px;
}
li{
   list-style: none;
   color: white;
}
button{
    width: 180px;
    height: 55px;
    font-size: 18px;

}
.box1{
    display: flex;
    align-items: center;
}
.foto{
    width: 1440px;
    height: 1000px;
}
.foto1{
    width: 1133px;
    height: 356px;

display: flex;
padding-top: 50px;
padding-left: 189px;
}
.us1{
    width: 624px;
height: 356px;
font-size: 25px;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
z-index: 1;
}
.us2{
    width: 509px;
    height: 356px;
    font-family: Inter;
font-size: 16px;
text-underline-position: from-font;
display: flex;
align-items: center;
justify-content: center;
}
.foto2{
    width: 1280px;
    height: 444px;
    top: 453px;

    gap: 0px;
    opacity: 0px;
}
.foto3{
    width: 1280px;
height: 401px;
background-color: #F4F0F8;
display: flex;
align-items: center;
justify-content: space-around;
padding-left: 80px;
}
.ourmision{
    width: 516px;
height: 249px;
font-size: 20px;
}
.ourvision{
    width: 516px;
    height: 249px;
    font-size: 20px;
}
.hands{
    width: 1280px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 200px;
}
.text{
    width: 519px;
height: 316px;
padding-top: 50px;
}